<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live uber metrics</title>
</head>
<body>
    set START NEW TRIP NOW

    set TRIP ENDED

    get DURATION:

    get set TRIP START/END TIME

    get set TRIP Earnings: easily help uber driver to set trip earnings $

    get set Trip total KMS

    get Trip $/time 
    get Trip $/kms


</body>
</html>